In [1]:
import numpy as np

Each new term in the Fibonacci sequence is generated by adding the previous two terms. By starting with 1 and 2, the first 10 terms will be:

1, 2, 3, 5, 8, 13, 21, 34, 55, 89, ...

By considering the terms in the Fibonacci sequence whose values do not exceed four million, find the sum of the even-valued terms.

In [5]:
# first we set up our variables 
#The first Number in the fib seq is always 0
first_number = 0

#The second Number in the fib seq is always 0
second_number = 1

# We set the original fibinacci1 number to 0 because
#we will be adding the even fibonacci numbers to this variable
fibonacci = 0

# We set even sum to be 0 because we will add the even fibonacci1 values to it
sum_of_evens = 0

#While loop to run till the value of fibonacci < 4 million. 
#While loop must be broken eventually (this case at 4million th value )
while fibonacci <= 4000000:
# define fibonacci as the sum of the 1st number and second number
    fibonacci = first_number + second_number
# When procceeding the second_number will take place of the first number  
    first_number = second_number
# the fibonacci number becomes the second_number so the fibonacci sequence may continue 
    second_number = fibonacci
# this if statements filters the fibonacci numbers so we get even numbers only
    if fibonacci % 2 == 0:
#Now we add the filtered even fibonacci seq numbers and add them all togther
        sum_of_evens += fibonacci

#Finally we Print the Answer
print(f'the sum of even Fibonacci Numbers Whose sequence value are less than 4 million is'.title(),sum_of_evens)

The Sum Of Even Fibonacci Numbers Whose Sequence Value Are Less Than 4 Million Is 4613732

## The sum of the even-valued terms whose value does not exceed 4 Million is:

# 4613732

It can be seen that the number, 125874, and its double, 251748, contain exactly the same digits, but in a different order.

Find the smallest positive integer, x, such that 2x, 3x, 4x, 5x, and 6x, contain the same digits.

Once again used a while loop. This was actaully kind of easy. But lets see if I can make the code more conise

In [7]:
# Since we will using i as x. We will give i the value of 1
# so it doesnt effect the number because it is multiplied by 1
i = 1

while True:
# Set is an unordered Data Type that can be iterated     
    if set(str(i)) == set(str(6*i)):
# first we have the value of i. It is turned into a string because a Set does not take integers. 
#The Set functions takes an unordered collection of unique values. 
#After Multiplying i by 6 we turn the value into a string
# then we apply the set function so see if both sets have exactly the same values. 
        if set(str(i)) == set(str(5*i)):
# the same rules apply for all the IF statements below
            if set(str(i)) == set(str(4*i)):
                if set(str(i)) == set(str(3*i)):
                    if set(str(i)) == set(str(2*i)):
# once a value fulfills all the if statements. Then we print that value (i)
                        print(i)
                        break
    i += 1

142857

In [ ]:
# just to give a quick example of whats happening

In [8]:
# assingn the variable dd to number 987
dd = 987

In [9]:
# we check to see the data type of dd. It is an integer
type(dd)

int

In [10]:
# we turn dd into a string using str func.
dd = str(dd)

In [13]:
# Check to see the type. Its a string
type(dd)

str

In [12]:
# now we turn it into a set that gives us all unique values in an unordered sequence.
set(dd)

{'7', '8', '9'}

### The reason we had to turn the number into a string is because we wanted to put the digits in a set. A set does not take integers so thats why we turned it into a string.

In [14]:
t = 5

In [17]:
set(str(t))

{'5'}